<div class="row top-nav pd-10-0">
        <!-- opening of logo section -->
        <div class="col-md-4 logo align-center">
        <a href="../index.html"><img src="../assets/img/logo.png" alt="Acropolis Infotech" title="Acropolis Infotech"></a>
        </div>
        <!-- closing of logo section -->
        <!-- opening of pagelink section -->
        <div class="col-md-8 pagelink pd-0-0 center align-center">
            <ul class="list list-inline  pagelink-list pd-0-0 mg-0-0">
            <li class="pd-15-10 dropdown"><a href="#" class="fz-14 color-black">Offering</a>
            
              <!-- dropdown menu of offering comes here -->
              <div class="dropdown-content-services pd-10-0">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-4">
                    <h3 class="menu-title">EXPERTISE SERVICES</h3>
                    <div class="col-md-12 services-block">
                       <ul class="list dropdown-list">
                      <li><a href="../web-development.html">Web Apps Development</a></li>
                      <li><a href="../mobile-app-development.html">Mobile Apps development</a></li>
                      <li><a href="../staff-augmentation.html">Staff Augmentation</a></li>
                      <li><a href="../front-end-technology.html">Front End Technologies</a></li>
                      <li><a href="../microsoft-technology.html">Microsoft Technologies</a></li>
                    </ul>
                  </div>
                  <div class="col-md-12 services-block">
                    <ul class="list dropdown-list">
                      <li><a href="../iot.html">Internet Of Things(IOT)</a></li>
                      <li><a href="../vr.html">AR/VR</a></li>
                      <li><a href="../cloud.html">Cloud &amp; Devops</a></li>
                      <li><a href="../chatbot.html">Chatbot Development</a></li>
                      <li><a href="../wearable.html">Wearable</a></li>
                      <li><a href="../ai.html">Artificial Intelligence</a></li>
                      <li><a href="../big-data.html">Big Data</a></li>
                      <li><a href="../blockchain.html">Blockchain</a></li>
                    </ul>
                  </div>
                  </div>
                  <div class="col-md-4">
                    <h3 class="menu-title">Enterprise Services</h3>
                    <div class="col-md-12 services-block">
                      <ul class="list dropdown-list">
                      <li><a href="../business-consulting.html">Business Consulting</a></li>
                      <li><a href="../technology-consulting.html">Technology Consulting</a></li>
                      <li><a href="../product-prototype.html">Product Prototyping</a></li>
                      <li><a href="../managed-services.html">Managed Services</a></li>
                             <li><a href="enterprise-mobility.html">Enterprise Mobility</a></li>
                      <li><a href="../product-engineering.html">Product Engineering</a></li>
                      <li><a href="../quality-assurance.html">Quality Assurance &amp; Testing</a></li>
                       <li><a href="../digital-transformation.html">Digital Transformation</a></li>
                      <li><a href="../product-maintainance.html">Maintainance &amp; Support</a></li>
                      <li><a href="../system-integration.html">Enterprise System Integration</a></li>
                      
                    </ul>
                  </div>
                  <div class="col-md-12 services-block">
                    <ul class="list dropdown-list">
                      <li><a href="../cloud-integration.html">Cloud Integration</a></li>
                      <li><a href="../dashboard.html">It Metrix And Dashboard</a></li>
                    </ul>
                  </div>

                  </div>
                  <div class="col-md-4">
                    <h3 class="menu-title">PROCESS</h3>
                    <div class="col-md-12 services-block">


                    <ul class="list dropdown-list">
                      <li><a href="../methodlogy.html">Development Methodlogy</a></li>
                      <li><a href="../delivery-model.html">Delivery Models</a></li>
                      <li><a href="../pricing-model.html">Pricing Models</a></li>
                    </ul>
                  </div>
                  </div>
              </div>
            </div></li>
            <li class="pd-15-10 dropdown"><a href="#" class="fz-14 color-black">Industries</a>

              <!-- dropdown menu comes here -->
              <div class="dropdown-content-services pd-10-0" style="display: none;">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-4">
                       <ul class="list dropdown-list">
                      <li><a href="healthcare.html">Healthcare</a></li>
                      <li><a href="education.html">Education</a></li>
                      <li><a href="social-networking.html">Social Networking</a></li>
                      <li><a href="retail.html">Retail</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                      <ul class="list dropdown-list">
                      <li><a href="manufacturing.html">Manufacturing</a></li>
                      <li><a href="eCommerce.html">eCommerce</a></li>
                      <li><a href="energy.html">Energy</a></li>
                      <li><a href="travel-and-hospitality.html">Travel &amp; Hospitality</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">


                    <ul class="list dropdown-list">
                      <li><a href="real-estate.html">Real Estate</a></li>
                      <li><a href="media-and-entertainment.html">Media &amp; Entertainment</a></li>
                      <li><a href="logistics-and-distribution.html">Logistics &amp; Distribution</a></li>
                       <li><a href="construction.html">Construction</a></li>
                    </ul>
                  </div>
                  </div>
              </div>
        </li>
                      <li class="pd-15-10 dropdown"><a href="#" class="fz-14 color-black">Partnership</a>
                    <div class="dropdown-content-services pd-20-0">
                        <div class="col-md-4">
                            <a href="../partnership-page/referal-partner.html" class="partnership-link">
                            <h3 class="menu-title">Referal Partner</h3>
                            <img src="../assets/img/partners/referal-partner.png" alt="Referral Partner">
                            <p class="section-description">Lorem ipsum dolor sit amet, ea ponderum scribentur qui. Sed impetus numquam honestatis in.</p>
                            </a>
                            
                        </div>
                        <div class="col-md-4">
                            <a href="../partnership-page/affiliate-partner.html" class="partnership-link">
                                <h3 class="menu-title">Affiliate Partner</h3>
                            <img src="../assets/img/partners/affiliate-partner.png" alt="Referral Partner">
                            <p class="section-description">Lorem ipsum dolor sit amet, ea ponderum scribentur qui. Sed impetus numquam honestatis in.</p>
                            </a>
                            
                        </div>
                        <div class="col-md-4">
                            <a href="../partnership-page/strategic-partner.html" class="partnership-link">
                                <h3 class="menu-title">Strategic Partner</h3>
                            <img src="../assets/img/partners/strategic-partner.png" alt="Referral Partner">
                            <p class="section-description">Lorem ipsum dolor sit amet, ea ponderum scribentur qui. Sed impetus numquam honestatis in.</p>
                            </a>
                            
                        </div>
                    </div></li>
            <li class="pd-15-10"><a href="#" class="fz-14 color-black">Portfolio</a></li>
            <li class="pd-15-10 dropdown"><a href="#" class="fz-14 color-black">Company</a>
            
              <!-- dropdown menu of company  comes here -->
              <div class="dropdown-content-services pd-10-0">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-4">
                    <h3 class="menu-title">About Us</h3>
                    <div class="col-md-12 services-block">


                    <ul class="list dropdown-list">
                      <li><a href="../company-page/company-overview.html">Company Overview</a></li>
                      <li><a href="../company-page/path-finder.html">Path Finder</a></li>
                      <li><a href="../company-page/our-values.html">Our Values</a></li>
                      <li><a href="../company-page/center-of-excellence.html">Center Of Excellence</a></li>
                      <li><a href="../company-page/our-infrastructure.html">Our Infratrucsture</a></li>
                      <li><a href="../company-page/contact-us">Contact Us</a></li>
                      <li><a href="../company-page/enquire-now.html">Enquire Now</a></li>
                      <li><a href="../company-page/client-testimonial.html">Client Testimonial</a></li>
                    </ul>
                  </div>
                  </div>
                  <div class="col-md-4">
                    <h3 class="menu-title">Insights</h3>
                    <div class="col-md-12 services-block">


                    <ul class="list dropdown-list">
                      <li><a href="../company-page/awards.html">Awards</a></li>
                      <li><a href="../company-page/certification.html">Certification</a></li>
                      <li><a href="../company-page/media-coverage.html">Media Coverage</a></li>
                      <li><a href="../company-page/global-events">Global Events</a></li>
                      <li><a href="../company-page/blog.html">Blog</a></li>
                      <li><a href="../company-page/portfolio.html">Portfolio</a></li>
                      <li><a href="../company-page/case-studies.html">Case Studies</a></li>
                      <li><a href="../company-page/faq.html">FAQ</a></li>
                    </ul>
                  </div>
                  </div>
                    <div class="col-md-4">
                    <h3 class="menu-title">Our Culture</h3>
                    <div class="col-md-12 services-block">


                    <ul class="list dropdown-list">
                      <li><a href="../company-page/career-overview.html">Career Overview</a></li>
                      <li><a href="../company-page/event-celebration.html">Event Celebration</a></li>
                      <li><a href="../company-page/corporate-social.html">Corporate Social</a></li>
                      <li><a href="../company-page/responsibility.html">Responsibility</a></li>
                    </ul>
                  </div>
                  </div>
              </div>
            </div></li>
            <li class="pd-8-10 border-blue border-radius-20 mg-0-15 estimate-product"><a href="#" class="fz-12 color-black pd-0-10">Estimate Your Project</a></li>
            </ul>
        </div>
        <!-- closing of pagelink section -->
    </div>
