<div class="row bg-gray portfolio-button-container" style="padding:30px 20px;
	">
	<div class="col-md-6">
	<button class="btn portfolio-button all-button" [class.active]= "filterBy == 'all'" (click)="filterBy='all'">All</button>
	<button class="btn portfolio-button"  [class.active]="filterBy == 'mobile'" (click) ="filterBy='mobile'">Mobile</button>
	<button class="btn portfolio-button"  [class.active]="filterBy == 'web'" (click) ="filterBy='web'">Web</button>
	</div>
	<div class="col-md-3 offset-md-3 col-md-offset-3 search-container" style="display:flex;flex-wrap:wrap;justify-content:flex-end;">
	<input type="text" name="searchString" [(ngModel)]="searchString" id="searchString" />
				<button type="button"><i class="fa fa-search"></i></button>

	</div>
</div>
<div class="row bg-gray portfolio-container">
	<div class="portfolio-section" *ngFor="let image of (visibleImages  | imageFilter:filterBy | filterdata: searchString); let i=index">
			
		<a href="#" class="portfolio-link" target="_blank">
			<div class="col-md-12 portfolio-image">
					<img  class="img" src={{image.url}} alt="Profolio Image" />
				</div>
				<div class="col-md-12 portfolio-description-box">
						<span class="industry-icon"><img  class="img" src={{image.industry}} alt="Profolio Image" /></span>
					<h3 class="clanpro-bold fz-20">{{image.caption}}</h3>
					<p class="clanpro fz-13">{{image.description}}</p>


					<ul class="list list-inline build-with">
							<li class="list-inline-item" *ngFor="let technology of image.technology">
							<img src="assets/img/technology/php.svg" alt="Tech Image" />
								
							</li>
						</ul> 
						<div class="row">
						<div class="col-md-6 country-container">
							<ul class="list list-inline">
						        <li class="country-flag list-inline-item"><img src="assets/img/india.png" alt="Flag" /></li>
								<li class="country-name list-inline-item">India</li>
							</ul>
						</div>
						<div class="col-md-6 view-container" style="cursor:pointer;" (click)="setViews(image)">
								<p><i class="fa fa-eye"></i>{{image.views}}</p>
						</div>
						</div>
				
				</div>
				</a>
				

	</div>
	</div>

